<a href="https://colab.research.google.com/github/aryankasat/Determining-Strength-of-Cement-/blob/main/Regression_Model_using_Keras_Determining_Strength_of_Cement_using_various_other_properties_of_the_contents_of_the_cement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A. Build a baseline model (5 marks)
Use the Keras library to build a neural network with the following:

One hidden layer of 10 nodes, and a ReLU activation function

Use the adam optimizer and the mean squared error as the loss function.

Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

Train the model on the training data using 50 epochs.

Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

Report the mean and the standard deviation of the mean squared errors.

Using the Regression Model to determine the strength of the cement based on other properties of the cement material.

In [ ]:
import pandas as pd
import numpy as np
import keras
#import sklearn
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

In [ ]:
concrete_data = pd.read_csv('/content/concrete_data.csv')
concrete_data.head(10)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
5,266.0,114.0,0.0,228.0,0.0,932.0,670.0,90,47.03
6,380.0,95.0,0.0,228.0,0.0,932.0,594.0,365,43.70
7,380.0,95.0,0.0,228.0,0.0,932.0,594.0,28,36.45
8,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28,45.85
9,475.0,0.0,0.0,228.0,0.0,932.0,594.0,28,39.29

In [ ]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [ ]:
concrete_data_columns = concrete_data.columns

In [ ]:
target = concrete_data['Strength']
target.head(10)

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
5    47.03
6    43.70
7    36.45
8    45.85
9    39.29
Name: Strength, dtype: float64

In [ ]:
predictors = concrete_data.iloc[:, :-1]
predictors.head(10)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360
5,266.0,114.0,0.0,228.0,0.0,932.0,670.0,90
6,380.0,95.0,0.0,228.0,0.0,932.0,594.0,365
7,380.0,95.0,0.0,228.0,0.0,932.0,594.0,28
8,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28
9,475.0,0.0,0.0,228.0,0.0,932.0,594.0,28

Create a function that defines our regression model for us so that we can conveniently call it to create our model:

1. One hidden layer of 10 nodes, and a ReLU activation function
2. Use the adam optimizer and the mean squared error as the loss function.

In [ ]:
#num of inputs = num of predictors colums
n_cols = predictors.shape[1]
def regression_model():
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Build model

In [ ]:
model = regression_model()

In [ ]:
list_of_mean_squared_error = []
for cycle in range(50):
    #Randomly split the data into a training set (70%) and a test set (30%):  
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3)
    #Train and test the model at the same time
    res = model.fit(X_train, y_train, epochs=50, verbose=0, validation_data=(X_test, y_test))
    #Find mean_squared_error as last value in history.
    mean_squared_error = res.history['val_loss'][-1]
    #Add value of mean_squared_error for every cycle in list.
    list_of_mean_squared_error.append(mean_squared_error)
    print('Cycle #{}: mean_squared_error {}'.format(cycle+1, mean_squared_error))

Cycle #1: mean_squared_error 744.3638305664062
Cycle #2: mean_squared_error 173.18035888671875
Cycle #3: mean_squared_error 126.02095031738281
Cycle #4: mean_squared_error 106.77983093261719
Cycle #5: mean_squared_error 106.1463394165039
Cycle #6: mean_squared_error 119.01741027832031
Cycle #7: mean_squared_error 114.61709594726562
Cycle #8: mean_squared_error 105.11212921142578
Cycle #9: mean_squared_error 109.91791534423828
Cycle #10: mean_squared_error 98.93273162841797
Cycle #11: mean_squared_error 117.15143585205078
Cycle #12: mean_squared_error 103.65735626220703
Cycle #13: mean_squared_error 82.66922760009766
Cycle #14: mean_squared_error 54.124183654785156
Cycle #15: mean_squared_error 48.52510452270508
Cycle #16: mean_squared_error 49.93021011352539
Cycle #17: mean_squared_error 51.247188568115234
Cycle #18: mean_squared_error 60.81231689453125
Cycle #19: mean_squared_error 48.11209487915039
Cycle #20: mean_squared_error 54.22616958618164
Cycle #21: mean_squared_error 56.340641021728516
Cycle #22: mean_squared_error 47.372737884521484
Cycle #23: mean_squared_error 55.47240447998047
Cycle #24: mean_squared_error 44.858116149902344
Cycle #25: mean_squared_error 49.05370330810547
Cycle #26: mean_squared_error 47.9701042175293
Cycle #27: mean_squared_error 47.23834228515625
Cycle #28: mean_squared_error 51.347896575927734
Cycle #29: mean_squared_error 50.86997985839844
Cycle #30: mean_squared_error 45.030120849609375
Cycle #31: mean_squared_error 46.53770065307617
Cycle #32: mean_squared_error 57.153507232666016
Cycle #33: mean_squared_error 49.76276779174805
Cycle #34: mean_squared_error 48.17684555053711
Cycle #35: mean_squared_error 60.10744094848633
Cycle #36: mean_squared_error 58.367156982421875
Cycle #37: mean_squared_error 48.63612365722656
Cycle #38: mean_squared_error 44.64168930053711
Cycle #39: mean_squared_error 59.081302642822266
Cycle #40: mean_squared_error 57.7285270690918
Cycle #41: mean_squared_error 51.68598937988281
Cycle #42: mean_squared_error 43.08329391479492
Cycle #43: mean_squared_error 45.89632797241211
Cycle #44: mean_squared_error 54.77534484863281
Cycle #45: mean_squared_error 47.55567169189453
Cycle #46: mean_squared_error 49.041473388671875
Cycle #47: mean_squared_error 43.773563385009766
Cycle #48: mean_squared_error 55.49421691894531
Cycle #49: mean_squared_error 39.566566467285156
Cycle #50: mean_squared_error 47.4265251159668

In [ ]:
print('The mean of the mean squared errors: {}'.format(np.mean(list_of_mean_squared_error)))
print('The standard deviation of the mean squared errors: {}'.format(np.std(list_of_mean_squared_error)))

The mean of the mean squared errors: 79.5717992401123
The standard deviation of the mean squared errors: 99.31339529809723

B. Normalize the data (5 marks)

In [ ]:
predictors_norm = (predictors - predictors.mean())/predictors.std()
predictors_norm.head(10)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069
5,-0.145138,0.464818,-0.846733,2.174405,-1.038638,-0.526262,-1.291914,0.701883
6,0.945704,0.244603,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
7,0.945704,0.244603,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,-0.279597
8,-0.145138,0.464818,-0.846733,2.174405,-1.038638,-0.526262,-1.291914,-0.279597
9,1.854740,-0.856472,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,-0.279597

Build the model

In [ ]:
n_cols = predictors_norm.shape[1]
def regression_model2():
    model2 = Sequential()
    model2.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model2.add(Dense(1))
    
    model2.compile(optimizer='adam', loss='mean_squared_error')
    return model2

model2 = regression_model2()

Train and test the model at the same time using the fit-method. We will leave out 30% of the data for validation and we will train the model for 50 epochs. And use predictors_norm instead of predictors.

In [ ]:
list_of_mean_squared_error = []
for cycle in range(50):
    #Randomly split the data into a training set (70%) and a test set (30%):  
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3)
    #Train and test the model at the same time
    res = model2.fit(X_train, y_train, epochs=50, verbose=0, validation_data=(X_test, y_test))
    #Find mean_squared_error as last value in history.
    mean_squared_error = res.history['val_loss'][-1]
    #Add value of mean_squared_error for every cycle in list.
    list_of_mean_squared_error.append(mean_squared_error)
    print('Cycle #{}: mean_squared_error {}'.format(cycle+1, mean_squared_error))

Cycle #1: mean_squared_error 323.2537536621094
Cycle #2: mean_squared_error 171.44671630859375
Cycle #3: mean_squared_error 127.4237060546875
Cycle #4: mean_squared_error 86.14666748046875
Cycle #5: mean_squared_error 68.63317108154297
Cycle #6: mean_squared_error 52.2929573059082
Cycle #7: mean_squared_error 43.88264083862305
Cycle #8: mean_squared_error 44.72916793823242
Cycle #9: mean_squared_error 39.19339370727539
Cycle #10: mean_squared_error 38.840999603271484
Cycle #11: mean_squared_error 49.860267639160156
Cycle #12: mean_squared_error 40.732200622558594
Cycle #13: mean_squared_error 38.35407257080078
Cycle #14: mean_squared_error 37.01185607910156
Cycle #15: mean_squared_error 43.63743209838867
Cycle #16: mean_squared_error 32.06815719604492
Cycle #17: mean_squared_error 38.984832763671875
Cycle #18: mean_squared_error 41.46406936645508
Cycle #19: mean_squared_error 37.602603912353516
Cycle #20: mean_squared_error 33.473968505859375
Cycle #21: mean_squared_error 39.737579345703125
Cycle #22: mean_squared_error 36.1968879699707
Cycle #23: mean_squared_error 40.746681213378906
Cycle #24: mean_squared_error 35.84864044189453
Cycle #25: mean_squared_error 33.54020690917969
Cycle #26: mean_squared_error 38.807308197021484
Cycle #27: mean_squared_error 37.07374954223633
Cycle #28: mean_squared_error 39.29316711425781
Cycle #29: mean_squared_error 33.52739334106445
Cycle #30: mean_squared_error 33.75203323364258
Cycle #31: mean_squared_error 35.29736328125
Cycle #32: mean_squared_error 35.652626037597656
Cycle #33: mean_squared_error 41.36424255371094
Cycle #34: mean_squared_error 33.15504837036133
Cycle #35: mean_squared_error 35.31868362426758
Cycle #36: mean_squared_error 32.36137390136719
Cycle #37: mean_squared_error 32.748104095458984
Cycle #38: mean_squared_error 34.53950500488281
Cycle #39: mean_squared_error 34.29001235961914
Cycle #40: mean_squared_error 29.246641159057617
Cycle #41: mean_squared_error 37.45042419433594
Cycle #42: mean_squared_error 30.958263397216797
Cycle #43: mean_squared_error 32.269874572753906
Cycle #44: mean_squared_error 31.444393157958984
Cycle #45: mean_squared_error 34.67271041870117
Cycle #46: mean_squared_error 33.90635299682617
Cycle #47: mean_squared_error 35.00297164916992
Cycle #48: mean_squared_error 34.7041015625
Cycle #49: mean_squared_error 33.91925048828125
Cycle #50: mean_squared_error 29.076168060302734

In [ ]:
print('The mean of the mean squared errors: {}'.format(np.mean(list_of_mean_squared_error)))
print('The standard deviation of the mean squared errors: {}'.format(np.std(list_of_mean_squared_error)))

The mean of the mean squared errors: 48.69868785858154
The standard deviation of the mean squared errors: 46.00208734332379

The mean and the standard deviation of the mean squared errors in case B is less than in case A. And in my opinion it's not a very good idea to compare result of two poor neural networks with one hidden layer only. Data normalization does not help a lot. Error is huge for both cases: A and B.

C. Increase the number of epochs (5 marks)

In [ ]:
def regression_model3():
    model3 = Sequential()
    model3.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model3.add(Dense(1))
    
    model3.compile(optimizer='adam', loss='mean_squared_error')
    return model3

model3 = regression_model3()

In [ ]:
list_of_mean_squared_error = []
for cycle in range(50):
    #Randomly split the data into a training set (70%) and a test set (30%):  
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3)
    #Train and test the model at the same time
    res = model3.fit(X_train, y_train, epochs=100, verbose=0, validation_data=(X_test, y_test))
    #Find mean_squared_error as last value in history.
    mean_squared_error = res.history['val_loss'][-1]
    #Add value of mean_squared_error for every cycle in list.
    list_of_mean_squared_error.append(mean_squared_error)
    print('Cycle #{}: mean_squared_error {}'.format(cycle+1, mean_squared_error))

Cycle #1: mean_squared_error 154.93215942382812
Cycle #2: mean_squared_error 75.73924255371094
Cycle #3: mean_squared_error 48.88067626953125
Cycle #4: mean_squared_error 48.3867301940918
Cycle #5: mean_squared_error 40.57238006591797
Cycle #6: mean_squared_error 43.73297882080078
Cycle #7: mean_squared_error 38.9871826171875
Cycle #8: mean_squared_error 45.33917236328125
Cycle #9: mean_squared_error 40.00511932373047
Cycle #10: mean_squared_error 39.16154479980469
Cycle #11: mean_squared_error 36.31787109375
Cycle #12: mean_squared_error 37.353736877441406
Cycle #13: mean_squared_error 33.4268913269043
Cycle #14: mean_squared_error 39.04110336303711
Cycle #15: mean_squared_error 35.53324890136719
Cycle #16: mean_squared_error 37.62652587890625
Cycle #17: mean_squared_error 33.731895446777344
Cycle #18: mean_squared_error 31.205978393554688
Cycle #19: mean_squared_error 33.29795455932617
Cycle #20: mean_squared_error 36.29188537597656
Cycle #21: mean_squared_error 29.669631958007812
Cycle #22: mean_squared_error 31.25691795349121
Cycle #23: mean_squared_error 32.32548904418945
Cycle #24: mean_squared_error 32.50312805175781
Cycle #25: mean_squared_error 34.12848663330078
Cycle #26: mean_squared_error 33.723751068115234
Cycle #27: mean_squared_error 31.201406478881836
Cycle #28: mean_squared_error 33.249202728271484
Cycle #29: mean_squared_error 28.369218826293945
Cycle #30: mean_squared_error 29.881484985351562
Cycle #31: mean_squared_error 30.57079315185547
Cycle #32: mean_squared_error 31.81328010559082
Cycle #33: mean_squared_error 25.830039978027344
Cycle #34: mean_squared_error 30.997095108032227
Cycle #35: mean_squared_error 30.66770362854004
Cycle #36: mean_squared_error 29.611270904541016
Cycle #37: mean_squared_error 28.379613876342773
Cycle #38: mean_squared_error 29.425294876098633
Cycle #39: mean_squared_error 27.45799446105957
Cycle #40: mean_squared_error 32.187103271484375
Cycle #41: mean_squared_error 30.87360954284668
Cycle #42: mean_squared_error 34.403297424316406
Cycle #43: mean_squared_error 30.51064109802246
Cycle #44: mean_squared_error 31.293701171875
Cycle #45: mean_squared_error 26.662464141845703
Cycle #46: mean_squared_error 26.53067398071289
Cycle #47: mean_squared_error 32.90142059326172
Cycle #48: mean_squared_error 32.98257827758789
Cycle #49: mean_squared_error 30.18080711364746
Cycle #50: mean_squared_error 32.56538009643555

In [ ]:
print('The mean of the mean squared errors: {}'.format(np.mean(list_of_mean_squared_error)))
print('The standard deviation of the mean squared errors: {}'.format(np.std(list_of_mean_squared_error)))

The mean of the mean squared errors: 37.03435516357422
The standard deviation of the mean squared errors: 18.562364814499965

The mean and the standard deviation of the mean squared errors in case C is smaller than in case B. But in both cases error is huge. In my opinion it's not a very good idea to compare result of two poor neural networks with one hidden layer only. Number of epoch is making it efficient but not absolutely efficient

D. Increase the number of hidden layers (5 marks)

In [ ]:
def regression_model4():
    model4 = Sequential()
    model4.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model4.add(Dense(10, activation='relu'))
    model4.add(Dense(10, activation='relu'))
    model4.add(Dense(1))
    
    model4.compile(optimizer='adam', loss='mean_squared_error')
    return model4

Building model with 3 hidden layers

In [ ]:
model4 = regression_model4()

In [ ]:
list_of_mean_squared_error = []
for cycle in range(50):
    #Randomly split the data into a training set (70%) and a test set (30%):  
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3)
    #Train and test the model at the same time
    res = model4.fit(X_train, y_train, epochs=50, verbose=0, validation_data=(X_test, y_test))
    #Find mean_squared_error as last value in history.
    mean_squared_error = res.history['val_loss'][-1]
    #Add value of mean_squared_error for every cycle in list.
    list_of_mean_squared_error.append(mean_squared_error)
    print('Cycle #{}: mean_squared_error {}'.format(cycle+1, mean_squared_error))

Cycle #1: mean_squared_error 104.62995147705078
Cycle #2: mean_squared_error 51.53459167480469
Cycle #3: mean_squared_error 42.880340576171875
Cycle #4: mean_squared_error 38.11188888549805
Cycle #5: mean_squared_error 39.006736755371094
Cycle #6: mean_squared_error 33.86491775512695
Cycle #7: mean_squared_error 34.51275634765625
Cycle #8: mean_squared_error 30.14682960510254
Cycle #9: mean_squared_error 28.240942001342773
Cycle #10: mean_squared_error 28.641794204711914
Cycle #11: mean_squared_error 28.394989013671875
Cycle #12: mean_squared_error 25.837818145751953
Cycle #13: mean_squared_error 27.27729034423828
Cycle #14: mean_squared_error 28.76734733581543
Cycle #15: mean_squared_error 29.756845474243164
Cycle #16: mean_squared_error 26.903820037841797
Cycle #17: mean_squared_error 29.94977569580078
Cycle #18: mean_squared_error 26.657093048095703
Cycle #19: mean_squared_error 25.93416976928711
Cycle #20: mean_squared_error 24.561281204223633
Cycle #21: mean_squared_error 28.415559768676758
Cycle #22: mean_squared_error 26.476530075073242
Cycle #23: mean_squared_error 27.418333053588867
Cycle #24: mean_squared_error 26.22920036315918
Cycle #25: mean_squared_error 23.175779342651367
Cycle #26: mean_squared_error 24.992874145507812
Cycle #27: mean_squared_error 26.913543701171875
Cycle #28: mean_squared_error 24.996492385864258
Cycle #29: mean_squared_error 27.885360717773438
Cycle #30: mean_squared_error 26.53077507019043
Cycle #31: mean_squared_error 18.944589614868164
Cycle #32: mean_squared_error 27.59913444519043
Cycle #33: mean_squared_error 24.537633895874023
Cycle #34: mean_squared_error 19.967660903930664
Cycle #35: mean_squared_error 26.769784927368164
Cycle #36: mean_squared_error 20.790206909179688
Cycle #37: mean_squared_error 22.959636688232422
Cycle #38: mean_squared_error 19.929651260375977
Cycle #39: mean_squared_error 22.167753219604492
Cycle #40: mean_squared_error 23.452638626098633
Cycle #41: mean_squared_error 23.20656967163086
Cycle #42: mean_squared_error 22.256319046020508
Cycle #43: mean_squared_error 27.083032608032227
Cycle #44: mean_squared_error 16.221969604492188
Cycle #45: mean_squared_error 18.045442581176758
Cycle #46: mean_squared_error 22.270936965942383
Cycle #47: mean_squared_error 21.830625534057617
Cycle #48: mean_squared_error 24.90712547302246
Cycle #49: mean_squared_error 21.308969497680664
Cycle #50: mean_squared_error 23.082763671875

In [ ]:
print('The mean of the mean squared errors: {}'.format(np.mean(list_of_mean_squared_error)))
print('The standard deviation of the mean squared errors: {}'.format(np.std(list_of_mean_squared_error)))

The mean of the mean squared errors: 28.319561462402344
The standard deviation of the mean squared errors: 12.515297044951271

The mean and the standard deviation of the mean squared errors in case D is less than in case A, B and C. And it's the only case where error is not very big. It means additional layers in neural network are more important than other things. Also it proves the comparison between poor neural network with one hidden layer in previous cases is a bad idea. Result can be unpredictable.